apiVersion: v1
kind: LimitRange
metadata:
  name: student-defaults
  namespace: hydra-students
spec:
  limits:
    - type: Container
      default:
        memory: "2Gi"
        cpu: "1"
      defaultRequest:
        memory: "512Mi"
        cpu: "250m"
      max:
        memory: "48Gi"
        cpu: "16"
